<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="shortcut icon" href="https://ik.imagekit.io/7idrbomgh/fotor-20250601115557.png?updatedAt=1748759210737" type="image/x-icon" />
    <title>Title</title>
</head>
<body>
<h1>Welcome, {{ name }}</h1>
<p>Email: {{ email }}</p>

{% if picture %}
  <img src="{{ picture }}" alt="Google Picture" style="width:100px;" />
{% else %}
  <p>No profile picture found or you didn't use Google login.</p>
{% endif %}

</body>
</html>